<!DOCTYPE html>
<html>

<header>
  <% include ../partials/head %>
</header>


<body class="container">
    <header>
      <% include ../partials/header %>
    </header>

  <main>
    <div class="jumbotron">

      <!-- form with entry box for each bit of inomfrtaion we want from our user. -->
      <h3>Add a User</h3>
      <h4>
      if you need to generate a fake user you can do it at <a href="https://randomuser.me/">https://randomuser.me/</a>
      </h4>
      <!-- submits to our /adduser route. -->
      <form action="/adduser" method="POST">
        <label>Name</label>
        <input type="text" placeholder="title" name="title">
        <input type="text" placeholder="first" name="first">
        <input type="text" placeholder="last"  name="last">
        </br><label>Login</label>
        <input type="email" placeholder="me@example.com"    name="email">
        <input type="text" placeholder="username"     name="username">
        <input type="password" placeholder="password"  name="password">
        </br><label>Details</label>
        <input type="text" placeholder="gender" name="gender">
        <input type="datetime" placeholder="date of birth"    name="dob">
        <input type="text" placeholder="nationality" name="nat">
        </br><label>Location</label>
        <input type="text" placeholder="street"   name="street">
        <input type="text" placeholder="city"     name="city">
        <input type="text" placeholder="state"    name="state">
        <input type="text" placeholder="postcode" name="postcode">
        </br><label>Pictures</label>
          <input type="text" placeholder="large"     name="large">
          <input type="text" placeholder="medium"    name="medium">
          <input type="text" placeholder="thumbnail" name="thumbnail">
        </br><button type="submit">Submit</button>
      </form>



    </div>
  </main>


  <footer>
    <% include ../partials/footer %>
  </footer>

</body>

</html>
