<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body class="container">
    <header>
      <% include ../partials/header %>
    </header>

    <form action="/allquotes" method="POST">
      <button type="submit">PRESS FOR QUOTES</button>
    </form>

    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
