<!DOCTYPE html>
<html>

<head>
  <% include ../partials/head %>
  <title>Filter Quotes Form</title>
</head>

<header>
  <% include ../partials/header %>
</header>

<body class="container">
  <main>
    <div class="jumbotron">
      <h1>search for quotes by!</h1>
      <form action="/searchquotes" method="POST">
        <input type="text" placeholder="name" name="name">
        <button type="submit">Submit</button>
      </form>
    </div>
  </main>
</body>
<footer>
  <% include ../partials/footer %>
</footer>
</html>
