<!DOCTYPE html>
<html>

<head>
  <title>Update Quotes Form</title>
</head>

<body class="container">


  <main>
    <div class="jumbotron">
      <h1>Update a quote</h1>
      <form action="/update" method="POST">
        <input type="text" placeholder="quote" name="quote">
        <input type="text" placeholder="new name" name="newname">
        <input type="text" placeholder="new quote" name="newquote">
        <button type="submit">Submit</button>
      </form>
    </div>
  </main>
</body>

</html>
