
<!-- simple bootstrap navigation-->
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">

    <div class="navbar-header">
      <a class="navbar-brand" href="#">
          <span class="glyphicon glyphicon glyphicon-user"></span>
          HeadPage: the new social network
      </a>

      <ul class="nav navbar-nav">
        <li><a href="/">All Users</a></li>
        <li><a href="/adduser">Add User</a></li>
        <li><a href="/remuser">Remove User</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
