<!DOCTYPE html>
<html>

<head>

</head>

<body class="container">
  <header>


    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">

        <div class="navbar-header">
          <a class="navbar-brand" href="#">
              <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
              Star Wars Quote App!
          </a>

          <ul class="nav navbar-nav">
            <li><a href="/">All Quotes</a></li>
            <li><a href="/add">Add Quotes</a></li>
            <li><a href="/filter">Filter Quotes</a></li>
            <li><a href="/update">Update Quote</a></li>
            <li><a href="/delete">Delete Quote</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <main>
    <div class="jumbotron">

      <h2>Quotes!</h2>

    </div>
  </main>


  <footer>
    <p class="text-center text-muted">© Copyright 2018 Some People</p>
  </footer>

</body>

</html>
